<div class="container">
  <h1>Sign up to mentor <a href='/schedule/create'>here</a>.</h1>
  <div class="available">
    Available Appointments:
    <ul>
    <%@available_appointments.each do |appointment|%>
      <li><img src="<%=appointment.mentor.gravatar%>" class="gravatar"><a href="/schedule/<%=appointment.id%>"><%=appointment.mentor.name%></a> at <%=appointment.start_time%> until <%=appointment.end_time%> <a href="/schedule/cancel/<%=appointment.id%>">cancel</a></li>
    <%end%>
    </ul>
  </div>

   <div class="scheduled">
    Scheduled Appointments:
    <ul>
    <%@scheduled_appointments.each do |appointment|%>
      <li><img src="<%=appointment.mentor.gravatar%>"class="gravatar"><a href="/schedule/view/<%=appointment.id%>"><%=appointment.mentor.name%></a> is pairing with <img src="<%=appointment.mentee.gravatar%>"class="gravatar"><%=appointment.mentee.name%> <a href="/schedule/cancel/<%=appointment.id%>">cancel</a></li>
    <%end%>
    </ul>
  </div>


</div>
