<div class="container">
  <h1>Appointments where you acted as a mentor:</h1>
  <div class="appointments">
    <ul>
    <%@appointments.each do |appointment|%>
      <li><a href="/schedule/view/<%=appointment.id%>"><%=appointment.mentor.name%></a> at <%=appointment.start_time%> until <%=appointment.end_time%> <%if appointment.mentee%>with <%=appointment.mentee.name%><%end%></li>
    <%end%>
    </ul>
  </div>
  <h1>Appointments where you have been mentored:</h1>
   <div class="sessions">
    <ul>
    <%@sessions.each do |session|%>
      <li><a href="/schedule/view/<%=session.id%>"><%=session.mentor.name%></a> paired <%=session.mentee.name%> at <%=session.start_time%></li>
    <%end%>
    </ul>
  </div>


</div>
